# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore random forest model files
Phase3/Recommendation System/models/RandomForest_model.pkl
Phase3/Recommendation System/saved_models/RandomForest_model.pkl

.idea/